@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 50px auto;
    width: 50%;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
  }
  
  nav {
    max-width: 2000px;
    background-color:grey;
    padding: 0.5rem;
    text-align: right;
    border-bottom-left-radius: 2rem;
    margin: 0;
    
  }
  nav a{
    color: black;
    text-decoration: none;
    font-size: 1.3em;

    
  }

  .inline{

    display: inline;
    padding: 2rem;
  }
  
 nav h1{
margin-right: 85%;

 }

 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
 }
